<div class="container" ng-controller="ProductsController">
  <div id="sidebar-wrapper">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <label for="#productform">Add Products
        <form>
          <label for="name">Name:</label>
          <input type="text" placeholder="name" ng-model="newProduct.name">
          <label for="image">Image(url):
          <input type="text" placeholder="http://" ng-model="newProduct.imageUrl"></label>
          <label for="description">Description
          <input type="textarea" placeholder="description" ng-model="newProduct.description"></label>
          <label for="qty"> Qty
          <input type="text" placeholder="qty" ng-model="newProduct.qty">
          </label>
          <input type="submit" class="btn btn-default" ng-click="create()">
        </form></label>
      </ul>
    </div>
  </div>
<!-- /#sidebar-wrapper -->
<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Products </h1>
  </div>
  <div ng-repeat= "product in products">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <label for="img-responsive">{{product.name}}</label>
    <img class="img-responsive" src="{{product.imageUrl}}" alt="{{product.imageUrl}}">
    <p><b>Qty:</b>{{product.qty}}</p>
  </div>
</div>

</div>